body {

    --fonte-secundaria: 'MuseoSansRounded900';
}



.cabecalho {
    background-color: #4392e2;

    justify-content: space-between;


}

.rodape {
    background-color: #a2a2a2;
    align-items: center;
    display: flex;
}



.links {}


.redes-sociais {
    background-color: #d5f7ff;
}

.redes-sociais-1 {}

.banner-redes-sociais {

    background-color: #d5f7ff;
    background-image: url('/assets/textura-fundo-da-sessão.png');
    background-image: url(/assets/nuvem.png);
    background-repeat: no-repeat;
    background-position: 40pc;
}



.titulo {
    padding-top: 40px;
    color: #00e8ff;
    text-align: center;

}

.area-de-interacao {
    margin-left: 40px;

}

.meu-botao-personalizado {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFA500;
    border-color: #FFA500;
    color: #FFFFFF;
    font-weight: bold;

}

.meu-botao-personalizado:hover {
    background-color: #FF4500;
    border-color: #FF4500;
}