body {

    --fonte-secundaria: 'MuseoSansRounded900';
}



.cabecalho {
    background-color: #4392e2;

    justify-content: space-between;


}

.rodape {
    background-color: #a2a2a2;
    align-items: center;
    display: flex;
}



.links {}


.redes-sociais {
    background-color: #d5f7ff;
}

.banner-redes-sociais {

    background-color: #d5f7ff;
    background-image: url('/assets/textura-fundo-da-sessão.png');
    background-image: url(/assets/nuvem.png);
    background-repeat: no-repeat;
    background-position: 40pc;
}



.titulo {
    padding-top: 40px;
    color: #00e8ff;
    text-align: center;

}

.area-de-interacao {
    margin-left: 40px;

}